<section class="section">
  <header>
   <div class="row g-4" >
     <h2 class="fs-1">All products</h2> 
     <div   *ngFor="let item of productData" class="col-sm-6 col-md-4 col-lg-2">
       <div>

             <div role="button" [routerLink]="['/productsdetails' , item._id]"  class="prpduct-details">
                 <img class="w-100" [src]="item.imageCover" alt="">
                 <h4 class="font-sm text-main">{{item.category.name}}</h4>
                 <h3 class="font-sm">{{item.title}}</h3>
                 <div class="d-flex justify-content-between">
                     <span>{{item.price}} EGP</span>
                     <span>{{item.ratingsAverage}}<i class="fa-solid fa-star fa-fade rating-color"></i></span>
                 </div>


             </div>
             

               <div>
                 <!-- <button  (click)="addProduct(item._id ,btnAdd)"  #btnAdd class="main-btn">ADD TO CART</button> -->
                 <!-- <button (click)="addProduct(item._id ,btnAdd)" #btnAdd class="buttonNew">ADD TO CART</button> -->
                   <button (click)="addProduct(item._id ,btnAdd)" #btnAdd class="animated-button">
                   <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                     <path
                       d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                     ></path>
                   </svg>
                   <span class="text">Add To Cart</span>
                   <span class="circle"></span>
                   <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                     <path
                       d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                     ></path>
                   </svg>
                 </button>
               </div>

                   
     
             
         </div>

     </div>
 </div>

  </header>
  <div class="div">
    <i class="h2 fa-solid fa-arrow-left fa-fade m-3 p-3" role="button" (click)="pageChanged(currentPage=1)"></i>
    <i class="h2 fa-solid fa-arrow-right fa-fade m-3 p-3" role="button" (click)="pageChanged(currentPage=2)"></i>

    

  </div>
 </section>



