.section{
    margin-top: 150px;
    margin-bottom: 10px;
}
.div{
margin: 20px;
padding:20px;
display: flex;
justify-content: center;
align-items: center;

}
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    width: 70px;
    height: 70px;
    position: relative;
  }
  
  .loader:before {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid #007bff;
    position: absolute;
    top: 0;
    left: 0;
    animation: pulse 1s ease-in-out infinite;
  }
  
  .loader:after {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: #007bff;
    position: absolute;
    top: 0;
    left: 0;
    animation: spin 2s linear infinite;
  }
  
  .loader-text {
    font-size: 24px;
    margin-top: 20px;
    color: #007bff;
    font-family: Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.6);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0;
    }
    100% {
      transform: scale(0.6);
      opacity: 1;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .content {
    display: none;
  }
  
  .loaded .loader-container {
    display: none;
  }
  
  .loaded .content {
    display: block;
  }
  
  // search
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    height: 2.5em;
    width: 75%;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
  }
  
  .input:hover,
  .input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }


  @keyframes typing {
    from {
      width: 0;
      color: red;
    }
  }
  
  @keyframes blink-caret {
    50% {
      border-color: transparent;
      color: red;
    }
  }
  /* When you change the amount of characters in the h1, you have to change 
  the with: 14ch and  steps(14, end), if there is 14 characters, put 14, 
  if there is 20 put 20 */
  .animation {
    font: bold 200% Consolas, Monaco, monospace;
    border-right: .1em solid black;
    width: 15.20ch;
    margin: 2em 2em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 5s steps(13, end),
               blink-caret .5s step-end infinite alternate;
  }