        
        <div class="loader-container" *ngIf="isLoading">
            <div class="loader"></div>
            <div class="loader-text">Loading...</div>
          </div>
<section class="cart-content w-75 mx-auto rounded shadow bg-main-light p-3 m-3 z-1 d-flex justify-content-center" *ngIf="cartDetails;else msg" >
    <div class="cart-content m-10 p-10 ">
        <div class="conts=ainer d-flex justify-content-between align-items-center">
            <h1 class="h1">shop cart</h1>
            
            <button (click)="clear()" class="noselect">
                 <span class="text">CLEAR</span>
                 <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>
        </div>

        <p class="text-main">totla price: {{cartDetails.totalCartPrice | currency: "EGP "}}  </p>


        <div class="row border-bottom py-2" *ngFor="let item of cartDetails.products">
            <div class="col-md-1"> <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title"></div>
            <div class="col-md-11 d-flex justify-content-between align-items-center">
                <div>
                    <h3 class="h6"> {{item.product.title}}</h3>
                    <p class="text-main font-sm"> {{item.price  | currency: "EGP "}}</p>
                    <button (click)="removeItem(item.product._id)" class="delete-button">
                        <svg class="delete-svgIcon" viewBox="0 0 448 512">
                                          <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
                                        </svg>
                      </button>
                </div>
                <div>
                    <button (click)="changeCount(item.count - 1 , item.product._id)" class="btn btn-sm">-</button>
                    <span>{{item.count}}</span>
                    <button (click)="changeCount(item.count + 1 , item.product._id)" class="btn btn-sm">+</button>
                </div>

            </div>
        </div>
            <!-- online payment button -->
        <div class="containerOnLine m-5 p-0" [routerLink]="['/payment' , cartDetails._id]">
            <div class="left-side">
            <div class="card">
            <div class="card-line"></div>
            <div class="buttonsOnLine"></div>
            </div>
            <div class="post">
            <div class="post-line"></div>
            <div class="screen">
            <div class="dollar">$</div>
            </div>
            <div class="numbers"></div>
            <div class="numbers-line2"></div>
            </div>
            </div>
            <div class="right-side">
            <div class="new">OnLine Payment</div>
            
            <svg viewBox="0 0 451.846 451.847" height="512" width="512" xmlns="http://www.w3.org/2000/svg" class="arrow"><path fill="#cfcfcf" data-old_color="#000000" class="active-path" data-original="#000000" d="M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z"></path></svg>
            
            </div>
        </div>
            </div>



       


    
</section>
<ng-template class="cart-content w-75 mx-auto rounded shadow bg-main-light p-3 m-3 z-1 d-flex justify-content-center" #msg>
    <section class="m-auto p-auto">
<div>
    <img src="../../../assets/images/cart image.webp" class="w-100" alt="cart">
</div>
</section>
    <h2 class="cart-conten text-center">Your Cart Is Empty</h2>
</ng-template>




 