<section class="section">
    <header>
        <div class="loader-container" *ngIf="isLoading">
            <div class="loader"></div>
            <div class="loader-text">Loading...</div>
          </div>
     <div class="row g-4" >
      <div class="d-flex justify-content-center align-items-center">
        <div class="animation m-3 justify-content-center fs-1">All Categories...</div>
      </div>
       <div class="loader-container" *ngIf="isLoading">
        <div class="loader"></div>
        <div class="loader-text">Loading...</div>
      </div>
       <div   *ngFor="let item of productData" class="col-sm-6 col-md-4 col-lg-2">
         <div>
  
               <div>
                   <img class="img" [src]="item.image" alt="">
                   <h4 class="font-sm text-main">{{item.name}}</h4>
                   <div class="d-flex justify-content-between">
                   </div>
  
  
               </div>
               

  
                     
       
               
           </div>
  
       </div>
   </div>
  
    </header>
   </section>
  