<section>

    <div class="row g-4">
        <div   *ngFor="let item of productData" class="col-sm-6 col-md-4 col-lg-2">
            <div class="prpduct-details">
                 <img class="w-100" [src]="item.imageCover" alt="">
                 <h4 class="font-sm text-main">{{item.category.name}}</h4>
                 <h3 class="font-sm">{{item.title}}</h3>
                 <div class="d-flex justify-content-between">
                    <span>{{item.price}} EGP</span>
                    <span>{{item.ratingsAverage}}<i class="fa-solid fa-star fa-fade rating-color"></i></span>
                 </div>


            </div>
                <button class="button-33" role="button">Add To Cart</button>


        </div>
    </div>
</section>