<section>
    <form [formGroup]="loginForm" (ngSubmit)="handleform()">



        
        <div class="form-item">
            <label for="email">email</label>
            <input formControlName="email" id="email" type="email" class="form-control">
            <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors ">
                <p class="alert alert-danger" *ngIf="loginForm.get('email')?.getError('required')">email is Required</p>
                <p class="alert alert-danger" *ngIf="loginForm.get('email')?.getError('email')">Invalid format</p>
            </div>
    

        </div>

        <div class="form-item">
            <label for="password">password</label>
            <input formControlName="password" id="password" type="password" class="form-control">

            <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors ">
                <p class="alert alert-danger" *ngIf="loginForm.get('password')?.getError('required')">password is Required</p>
                <p class="alert alert-danger" *ngIf="loginForm.get('password')?.getError('minlength')">minlength is 8</p>
            </div>
    
        </div>

            





    <button [disabled]="loginForm.invalid" type="submit" data-label="Register" class="rainbow-hover">
        <span class="sp">LOGIN</span>
        <div id="page"  *ngIf="isLoading">
            <div id="container">
                <div id="ring"></div>
                <div id="ring"></div>
                <div id="ring"></div>
                <div id="ring"></div>
                <div id="h3"></div>
            </div>
        </div>
    <!-- <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span> -->
</button>


        <p *ngIf="errMsg" class="alert alert-danger">{{errMsg}} </p>

    </form>
</section>