/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f0f3f2;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(4, 151, 4, 0.968627451);
  border-radius: 50px;
  box-shadow: 0 0 20px 50px rgba(4, 151, 4, 0.968627451);
  border-radius: 2px;
}

.nav-link {
  transition: unset !important;
}

.active-link {
  background-color: #0aad0a;
  color: #fff !important;
  border-radius: 5px;
}

body {
  font-family: "Encode Sans Expanded", sans-serif;
}

.rating-color {
  color: #ffc908;
}

.cursor-pointer {
  cursor: pointer;
}

.font-sm {
  font-size: 12px;
}

.text-main {
  color: #0aad0a;
}

.text-main-light {
  color: #f0f3f2;
}

.bg-main {
  background-color: #0aad0a !important;
}

.bg-main-light {
  background-color: #f0f3f2 !important;
}

.main-btn {
  border: unset;
  cursor: pointer;
  color: #fff !important;
  background-color: #0aad0a !important;
  padding: 4px 8px;
  transition: background-color 0.8s;
  border-radius: 5px;
}
.main-btn:hover {
  background-color: #08e208 !important;
}
.main-btn:disabled {
  background-color: rgba(6, 122, 6, 0.3882352941) !important;
  color: rgba(255, 255, 255, 0.5568627451) !important;
  cursor: not-allowed;
}

input:focus {
  box-shadow: 0 0 0 0.25rem rgba(10, 173, 10, 0.39) !important;
  border-color: #0aad0a !important;
}

.product {
  padding: 6px 9px;
  border-radius: 5px;
  overflow: hidden;
}
.product:hover {
  box-shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px, rgba(145, 158, 171, 0.14) 0px 4px 5px 0px, rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  border: solid 1px #0aad0a;
}
.product:hover .add-btn {
  opacity: 1;
  transform: translateY(0%);
}
.product .add-btn {
  transition: transform 1s, opacity 1s, background-color 1s;
  transform: translateY(100%);
  opacity: 0;
}

.ngx-pagination .current {
  background: #0aad0a !important;
  border-radius: 5px !important;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: #dafada !important;
  border-radius: 5px !important;
  color: #0aad0a !important;
}

.ngx-pagination a,
.ngx-pagination button {
  color: #18aa1c !important;
}

.toast-success {
  position: fixed !important;
  bottom: 0 !important;
  right: 0 !important;
}

/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}/*# sourceMappingURL=styles.css.map */